h1 {
    color: #FCA205;
    font-family: 'Lobster';
}
body {
    padding-left: 15px;
}
.name{
    background-color: #7e7a12
	width: 150px;
	margin-right: 2%;
	display: inline-block;
	float: left;
}
.name p{
    width: 150px;
}
.info{
    background-color: yellow
	width: 45%;
	margin-right: 2%;
	display: inline-block;
}
.revStatus{
	width: 20%;
	margin-right: 2%;
	display: inline-block;
	float: right;
}
nav{
	font-variant: small-caps;
	font-size: 100%;
	font-family: Arial, "Time New Roman", serif;
}
nav a{
    display: inline-block;
    width: 75px;
    text-align: center;
    text-decoration: none;
    padding: 20px 10px;
    border-radius: 5px;
    margin: 2%;
    background-color: purple;
    color: white;
}
.Green a{
    background-color: green;
}