h1 {
    color: #FCA205;
}
body {
    padding-left: 15px;
}
nav{
	font-variant: small-caps;
	font-size: 100%;
	font-family: Arial, "Time New Roman", serif;
}
nav a{
    display: inline-block;
    width: 75px;
    text-align: center;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    margin: 2%;
    background-color: gray;
    color: white;
}
.Accepted a{
    background-color: #008000;
}
.NotAccepted a{
    background-color: #ff0000;
}
.NoReview a{
    background-color: #808080;
}

table{
  border-collapse: separate;
  border-spacing: 2px;
  margin-top: 10px;
  margin-left: 50px;
}

th{
  background-color: #3c3a3a;
  color: #ffffff;
  font-family: Arial, san-serif;
  font-size: small;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid green;
}
th:first-child{
  text-align: left;
  border-top-left-radius: 5px;
}
th:last-child{
  border-top-right-radius: 5px;
}

td{
  background-color: #d6d8d6;
  color: #1c1c1c;
  font-family: arial, san-serif;
  font-size: small;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  opacity: .8;
}
.left {
  background-color: #d6d8d6;
  color: #1c1c1c;
  font-family: arial, san-serif;
  font-size: small;
  padding: 10px;
  text-align: left;
  opacity: .8;
}
td:first-child{
  text-align: left;
  vertical-align: top;
}
td:hover{
  opacity: 1;
}
tr:hover{
  opacity: 1;
}
label {
    vertical-align: top;
    display: block;
    float: left;
    width: 130px;
}
textarea {
    height: 10em;
    width: 50em;
}
#id_participant_name {
    width: 31em;
}
#id_participant_age {
    width:5em
}
input[type=submit] {
    font-size: medium;
    margin-left: 100px;
    margin-top: 30px;
    background: #50ab54de;
    padding:10px;
    border-radius: 5px;
}