h1 {
    color: #FCA205;
    font-family: 'Lobster';
}
body {
    padding-left: 15px;
}
nav{
	font-variant: small-caps;
	font-size: 100%;
	font-family: Arial, "Time New Roman", serif;
}
nav a{
    display: inline-block;
    width: 75px;
    text-align: center;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    margin: 2%;
    background-color: purple;
    color: white;
}
.Green a{
    background-color: green;
}
.Red a{
    background-color: red;
}

table{
  border-collapse: separate;
  border-spacing: 2px;
  margin-top: 10px;
  margin-left: 50px;
}

th{
  background-color: purple;
  color: #ffffff;
  font-family: Arial, san-serif;
  font-size: small;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #25D12A;
}
th:first-child{
  text-align: left;
  border-top-left-radius: 5px;
}
th:last-child{
  border-top-right-radius: 5px;
}

td{
  background-color: #CFFDD1;
  color: #686B68;
  font-family: arial, san-serif;
  font-size: small;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  opacity: .8;
}
.left {
  background-color: #CFFDD1;
  color: #686B68;
  font-family: arial, san-serif;
  font-size: small;
  padding: 10px;
  text-align: left;
  opacity: .8;
}
td:first-child{
  text-align: left;
  vertical-align: top;
}
td:hover{
  opacity: 1;
}
tr:hover{
  opacity: 1;
}