<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Participants</title>
    <link rel="stylesheet" href="{% static 'css/participants.css' %}">
</head>
<body>
    <div>
        <h1><a href="/">All Registered Participants</a></h1>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Siblings</th>
            <th>Environmental Exposures</th>
            <th>Genetic Mutations</th>
            <th colspan="2">Review Status</th>
        </tr>
        {% for p in participant %}
            <tr>
                <td> {{ p.participant_name }} </td>
                <td> {{ p.participant_age }} </td>
                <td> {{ p.participant_siblings }} </td>
                <td class="left">
                    {% for line in p.environmental_exposures.splitlines %}
                        {% if line != "" %}
                            {{ line }} <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="left">
                    {% for line in p.genetic_mutations.splitlines %}
                        {% if line != "" %}
                            {{ line }} <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <form method="POST">{% csrf_token %}
                        <select id="dropdown" name='{{p.participant_name}}' name="rev_status" onChange="this.form.submit()">
                            {% for i, j in choices %}
                                {% if i == p.review_status %}
                                    <option selected class={{j}}> {{ i }} </option>
                                {% else %}
                                    <option class={{j}}> {{ i }} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </td>
                <td>
                    {% if p.review_status == 'Reviewed - Accepted' %}
                        <nav class="Accepted"><a href = ""> {{ p.review_status }} </a></nav>
                    {% else %}
                        {% if p.review_status == 'Reviewed - Not Accepted' %}
                            <nav class="NotAccepted"><a href = ""> {{ p.review_status }} </a></nav>
                        {% else %}
                            <nav class="NoReview"><a href = ""> {{ p.review_status }} </a></nav>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>